/* http://meyerweb.com/eric/tools/css/reset/ 2. v2.0 | 20110126
  License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/*
  ========================================
  Grid
  ========================================
*/

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

header {
  padding-top: 30px;
  height: 30vh;
}

.popup {
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 0.5rem 1.5rem;
}

.triangle-div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.triangle {
  content: "";
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
  z-index: 2;
}

.pagetitle {
  width: 66px;
  top: 38px;
  position: relative;
}
h1 {
  position: relative;
  top: 34px;
  color: rgb(64, 63, 63);
}
.Atitle {
  top: 1px;
  margin-left: 3rem;
  float: left;
}
.rectangle1 {
  height: 88px;
  width: 2px;
  background-color: #bfbfbf;
  opacity: 0.7;
  top: -56px;
  left: 73px;
  position: relative;
}
.rectangle2 {
  height: 88px;
  width: 2px;
  background-color: #bfbfbf;
  opacity: 0.7;
  top: -144px;
  left: 80px;
  position: relative;
}
.portfolio {
  font-size: 4rem;
  position: relative;
  top: -224px;
  left: 92px;
  color: rgb(64, 63, 63);
}
.aa {
  text-decoration: none;
}
.Atitle .aa {
  width: 468px;
  height: 132px;
  position: relative;
  float: left;
}
.dropbtn {
  padding: 0px;
  margin: 0px;
  width: 6rem;
  z-index: 1;
  position: relative;
}

.img-div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.dropdown {
  cursor: pointer;
  margin-right: 6rem;
  float: right;
}

.right-side-nav {
  float: right;
}

.dropdown-content {
  display: none;
  float: left;
  text-align: center;
  background-color: black;
  opacity: 0.8;
  margin-right: 0.5rem;
  margin-top: 4.5rem;
}

.dropdown-content .aa {
  color: white;
  padding: 6px 28px;
  text-decoration: none;
  text-align: center;
  display: inline-block;
}
/*
.dropdown:hover .popup {
  display: none;
}
.dropdown:hover .traingle {
  display: none;
} */

.dropdown-content .aa:hover {
  border-bottom: 1px solid rgb(46, 202, 116);
  box-shadow: 0px 0px 5px 0px rgb(46, 202, 116) inset;
  padding-bottom: -1px;
  box-shadow: rgb(46, 202, 116);
}

.dropdown:hover .dropbtn {
  opacity: 1;
  -webkit-animation: rotation 4s infinite linear;
}
@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
  }
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown2 {
  display: inline-block;
}
.dropbtn2 {
  width: 115px;
  cursor: pointer;
  padding: 7px 16px;
  display: block;
}
.dropdown2 .dropbtn2 {
  color: white;
  padding-top: 8px;
  text-decoration: none;
  text-align: center;
  border: none;
  background-color: black;
  display: block;
}
.dropdown2:hover .dropbtn2 {
  border-bottom: 1px solid rgb(46, 202, 116);
  box-shadow: 0px 0px 5px 0px rgb(46, 202, 116) inset;
  padding-bottom: -1px;
  box-shadow: rgb(46, 202, 116);
}
.dropdown-content2 {
  float: right;
  position: relative;
  text-align: center;
  background-color: black;
  opacity: 0.8;
  right: 2px;
  top: 0px;
  width: 110px;
  display: none;
  text-align: center;
}
.dropdown-content2 .aa {
  padding: 5px 5px !important;
  color: white;
  text-decoration: none;
  text-align: center;
  display: block;
}
.dropdown2:hover .dropdown-content2 {
  display: block;
}
.dropbtn2:hover .dropdown-content2 {
  display: block;
}
.dropdown-content2: .aa {
  border-bottom: 1px solid white;
}
.dropdown-content2 .aa:hover {
  border-bottom: 1px solid rgb(46, 202, 116);
}
@media (min-width: 764px) {
  .dropdown-content .aa {
    padding: 6px 10px;
  }
}

@media (min-width: 764px) {
  .dropdown-content .aa {
    padding: 6px 10px;
  }
}

@media (min-width: 1024px) {
  .dropdown-content .aa {
    padding: 6px 20px;
  }
}

@media (min-width: 1200px) {
  .dropdown-content .aa {
    padding: 6px 32px;
  }
}
.sec1 {
  display: flex;
  width: 100%;
  height: 66vh;
}
.cadmenu {
  width: 235px;
  margin-top: 1rem;
  margin-left: 2rem;
  border-right: 2px solid black;
}

.cadmenu a {
  color: black; /* Black text color */
  display: block; /* Make the links appear below each other */
  padding: 9px; /* Add some padding */
  text-decoration: none; /* Remove underline from links */
}

.cadmenu a:hover {
  background-color: #ccc; /* Dark grey background on mouse-over */
}

.cadmenu a.active {
  background-color: #4caf50; /* Add a green color to the "active/current" link */
  color: white;
}
.cadmenu-title {
  margin-bottom: 0.5rem;
  margin-top: 0.8rem;
  font-size: 17px;
  font-weight: 600;
  color: #143d60;
}
.cadmenu-title-image {
  width: 4rem;
  margin-right: 0.5rem;
}
.row {
  display: flex;
  margin-left: -4.2rem;
}
.cadpage-image {
  margin-left: 25rem;
  position: absolute;
}
.cmimage {
  width: 100%;
  margin-left: -3rem;
  display: block;
  z-index: 2;
  margin-top: 6rem;
}
