/* http://meyerweb.com/eric/tools/css/reset/ 2. v2.0 | 20110126
  License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/*
  ========================================
  Grid
  ========================================
*/

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body {
    background-color: white;
    background-repeat: no-repeat;
    background-size: cover;
    padding-left: 30px;
    padding-top: 30px;
}
.popup {
  width: 85px;
  background-color: #555;
  color: #fff;
  text-align: center;
  position: relative;
  float: right;
  height: 24px;
  border-radius: 6px;
  margin-top: -116px;
  margin-right: 6px;
  padding-top: 4px;
}


.traingle {
  content: "";
  position: relative;
  top: -70px;
  margin-left: -45px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
  z-index: 2;
}

.pagetitle {
  width: 66px;
    top: 38px;
    position: relative;
}
h1{
  position: relative;
  top: 34px;
  color: white;
}
.Atitle {
  top: -25px;
    position: relative;
    left: 58px;
    width: 22%;
    height: 133px;
    float: left;
}
.rectangle1 {
  height: 88px;
  width: 2px;
  background-color: #bfbfbf;
  opacity: 0.7;
  top: -56px;
  left: 73px;
  position: relative;
}
.rectangle2 {
  height: 88px;
  width: 2px;
  background-color: #bfbfbf;
  opacity: 0.7;
  top: -144px;
  left: 80px;
  position: relative;
}
.portfolio {
  font-size: 50px;
  position: relative;
    top: -211px;
    left: 92px;
    color: white;
}
a {
  text-decoration: none;
}
.Atitle a {
  width: 850px;
  height: 132px;
  position: relative;
  float: left;
}
.dropbtn{
  padding: 0px;
  margin: 0px;
    Width: 80px;
    z-index: 1;
    position: relative;
  }

.dropdown {
  width: 6%;
  height: 81px;
  cursor: pointer;
  margin-top: 22px;
  margin-right: 100px;
  float: right;
}

.dropdown-content {
  display: none;
  float: right;
  position: relative;
  text-align: center;
  background-color: black;
  opacity: 0.8;
  right: 92px;
  top: 9px;
  width: 526px;
}

.dropdown-content a {
  color: white;
  padding: 6px 36px;
  margin-right: -1px;
  text-decoration: none;
  text-align: center;
  display: inline-block;
}
.dropdown:hover .popup {display: none;
}
.dropdown:hover .traingle {display: none;}
.dropdown-content a:hover {border-bottom: 1px solid white;
  box-shadow: 0px 0px 5px 0px #888888 inset;
padding-bottom: 8px;
box-shadow: aliceblue;
}
.dropdown:hover .dropbtn {opacity: 1;
  -webkit-animation: rotation 4s infinite linear;
}
@-webkit-keyframes rotation {
		from {
				-webkit-transform: rotate(0deg);
		}
		to {
				-webkit-transform: rotate(359deg);
		}
}
.dropdown:hover .dropdown-content {display: inline-block;
  margin-left: 120px;
margin-top: -70px;
}
.dropdown2 {
    display: inline-block;
}
.dropbtn2 {
  width: 115px;
    cursor: pointer;
    padding: 7px 16px;
    display: block;
}
.dropdown2 .dropbtn2 {
  color: white;
  padding-top: 8px;
  text-decoration: none;
  text-align: center;
  border: none;
  background-color: black;
  display: block;
}
.dropdown2:hover .dropbtn2 {
  border-bottom: 1px solid white;
  box-shadow: 0px 0px 5px 0px #888888 inset;
padding-bottom: -1px;
box-shadow: aliceblue;
}
.dropdown-content2 {
  float: right;
  position: relative;
  text-align: center;
  background-color: black;
  opacity: 0.8;
  right: 2px;
  top: 0px;
  width: 110px;
  display: none;
}
.dropdown-content2 a {
  color: white;
  padding: 7px 4px;
  margin-right: -1px;
  text-decoration: none;
  text-align: center;
  display: block;
  width: 111px;
}
.dropdown2:hover .dropdown-content2 {
  display: block;
}
.dropbtn2:hover .dropdown-content2 {
  display: block;
}
.dropdown-content2:a {
  border-bottom: 1px solid white;
}
.dropdown-content2 a:hover {
  border-bottom: 1px solid white;
}
.headerbackground {
  Background-color: grey;
  opacity: 1;
  width: 100%;
  z-index: -1;
  height: 198px;
  position: absolute;
  margin-left: -30px;
  margin-right: 10px;
  margin-top: -30px;
  box-shadow: 0px -3px 10px -2px black inset;
}
.menurectangle {
  position: relative;
  background-color: white;
  width: 17%;
  height: 517px;
  margin-left: -360px;
  margin-top: 206.5px;
  float: left;
  border-right: 1px solid black;
}
.CADmenu {
  Position: relative;
  line-height: 35px;
  margin-top: 245px;
  height: 100%;
}
.CADmenu a {
  Position: relative;
  display: block;
  color: black;
  width: 210px;
}
h3, h2 {
  font-size: 18px;
  color: #375b8a;
}
h3 {
  margin-top: 15px;
}
.CADmenu a:hover {
  border-bottom: 0.5px solid black;
}
.navdic {
  width: 50px;
    float: left;
    margin-right: -75px;
    margin-left: -59px;
    margin-top: 5px;
}
.navdic2 {
  width: 50px;
  float: left;
  margin-right: -75px;
  margin-left: -59px;
  margin-top: 20px;
}
h4 {
  padding: 10px;
  box-shadow: 0px -3px 3px -2px #a3c7ad inset;
  margin-right: 85px;
  width: 325px;
  position: relative;
  font-size: 22px;
  float: right;
  text-align: center;
  top: -490px;
}
section {
    margin-top: -370px;
}
.pic1 {
    float: right;
    position: relative;
    width: 25%;
    margin-top: -490px;
    margin-right: 100px;
}